* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    height: 100%;
    width: 100vw;
}

img {
    width: 100%;
}

#menu {
    width: 50%;
    transform: skewY(6deg);
    padding-top: 100px;
    margin-bottom: 500px;
    padding: 20px;
    position: relative;
    position: absolute;
    left: 100px;
    top: 500px;
    z-index: 1;
    overflow-wrap: normal;
}

#textbox {
    width: 82%;
    position: fixed;
    top: 10%;
    padding-left: 30px;
    padding-right: 30px;
    overflow-wrap: normal;
}

#mask {
    left: 0px;
    bottom: -21%;
    position: fixed;
    background-color: white;
    width: 78%;
    height: 30%;
    transform: skewY(6deg);
    z-index: 2;
}

#insert {
    left: 99px;
    bottom: 9%;
    position: fixed;
    background-color: #dbdbdb;
    width: 51%;
    height: 30px;
    transform: skewY(6deg) skewX(-45deg);
    z-index: 0;
    border-radius: 15px;
}

#insertmask {
    left: 91px;
    bottom: 9%;
    position: fixed;
    background-color: #dbdbdb;
    width: 51%;
    height: 15px;
    transform: skewY(6deg) skewX(-45deg);
    z-index: 3;
    border-radius: 0px 0px 15px 15px;
}

#shadow {
    top: 50%;
    position: absolute;
    width: 45%;
    transform: skewY(6deg) skewX(-45deg);
    /* translateX(-940px) translateY(600px)  */
}

#shadow-container {
    top: -20%;
    left: -172%;
    width: 100%;
    height: 100%;
    position: fixed;
}

a,
a:link,
a:visited,
a:active,{
    text-decoration: none;
}